<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardSQL">

	<select id="getAll" parameterType="Map" resultType="board">
		<![CDATA[
		SELECT * FROM 
		(SELECT rownum rn, tt.* FROM (SELECT * FROM board ORDER BY ref DESC, step ASC) tt)
		WHERE rn >= #{startNum} and rn <= #{endNum}
		]]>
	</select>

	<select id="getBySearch" parameterType="Map" resultType="board">
		<![CDATA[
		SELECT * FROM 
		(SELECT rownum rn, tt.* FROM (SELECT * FROM board WHERE ${category} like '%${keyword}%' ORDER BY ref DESC, step ASC) tt)
		WHERE rn >= #{startNum} and rn <= #{endNum}
		]]>
	</select>

	<select id="getCountBySearch" parameterType="Map"
		resultType="Integer">
		SELECT count(*) FROM board WHERE ${category} like
		'%${keyword}%'
	</select>

	<select id="getCount" resultType="Integer">
		SELECT count(*) FROM board
	</select>

	<select id="getBoard" parameterType="Integer" resultType="board">
		SELECT
		*
		FROM board WHERE seq = ${seq}
	</select>

	<insert id="write" parameterType="board">
		INSERT INTO board
		VALUES
		(seq_board.nextVal,#{id},#{name},#{email},#{subject},#{content},seq_board.currVal,0,0,0,0,0,sysdate)
	</insert>

	<insert id="writeReply" parameterType="board">
		INSERT INTO board
		VALUES
		(seq_board.nextVal,#{id},#{name},#{email},#{subject},#{content},#{ref},#{lev},#{step},#{pseq},0,0,sysdate)
	</insert>

	<update id="stepUp" parameterType="board">
		UPDATE board SET step = step+1
		WHERE ref = #{ref} AND step > #{step}
	</update>

	<update id="replyUp" parameterType="board">
		UPDATE board SET reply =
		reply + 1 WHERE seq = #{pseq}
	</update>

	<update id="replyDown" parameterType="board">
		UPDATE board SET reply =
		reply - 1 WHERE seq = #{seq}
	</update>

	<update id="addTitle" parameterType="board">
		UPDATE board SET subject =
		'[원글이 삭제된 답글]' || subject WHERE pseq = #{seq}
	</update>

	<update id="modify" parameterType="board">
		UPDATE board SET subject =
		#{subject}, content = #{content}, logtime = sysdate WHERE seq = #{seq}
	</update>

	<update id="boardHit" parameterType="Integer">
		UPDATE board SET hit = hit +
		1 WHERE seq = #{seq}
	</update>

	<delete id="delete" parameterType="Integer">
		DELETE from board WHERE seq =
		#{seq}
	</delete>
	
	<delete id="boardDelete" parameterType="Integer">
		begin
			UPDATE board SET reply = reply - 1 WHERE seq = (SELECT pseq FROM board WHERE seq = #{seq});
			UPDATE board SET subject = '[원글이 삭제된 답글]' || subject WHERE pseq = #{seq};
			DELETE FROM board WHERE seq = #{seq};
		end;
	</delete>

</mapper>